<h1>Hack Your Memo</h1>
<a href="/boards/new">글쓰기</a>
<div class="table-responsive">
  <table class="table table-fit">
    <thead>
      <tr>
        <th>사진</th>
        <th>소감</th>
        <th>시간</th>
      </tr>
    </thead>
    <tbody>
      <% @boards.each do |board| %>
        <tr>
          <td><%= link_to board.boardContent, board %></td>
          <td><%= board.boardUser%></td>
          <td><%= board.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%#= paginate @memos %>
</div>
