        <div class="board_form">
                <div class="container">
                        <br><br><br>
                        
                       
                        <%= image_tag @board.board_image_url.url , :style => "display: block; width: 400px; height: 400px"%>
                        <br>
                        <h4>BGID: <%= @board.boardUserBGID %></h4>
                        <br>
                        <h4>소감: </h4>
                        <h5><%= @board.boardContent %></h5>
                        <br>
                        <h4>시간 : <%= Time.at(@board.board_create_time + (3600*9)) %></h4>
                       
                        <br>
                        <hr>
                        
                </div>
        </div>